<!-- its going to be used twice - new and edit -->
<!-- value uses the ability to use athor objects as the 
schema been hooked up and exported-->
<label>Name</label>
<input type="text" name="name" value="<%= author.name %>">